# Ignore dependencies
node_modules/
**/node_modules/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Build output
dist/
build/
